:root {
  font-size: 62.5%;

  --White: hsl(0, 0%, 100%);

  --Stone-100: hsl(30, 54%, 90%);
  --Stone-150: hsl(30, 18%, 87%);
  --Stone-600: hsl(30, 10%, 34%);
  --Stone-900: hsl(24, 5%, 18%);

  --Brown-800: hsl(14, 45%, 36%);

  --Rose-800: hsl(332, 51%, 32%);
  --Rose-50: hsl(330, 100%, 98%);
}

body {
  font-size: 1.6rem;
  box-sizing: border-box;
  line-height: 1.6;
  color: var(--Stone-600);
  font-family: "Outfit", sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

@font-face {
  font-family: "Young Serif";
  src: url("assets/fonts/young-serif/YoungSerif-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Outfit";
  src: url("assets/fonts/outfit/static/Outfit-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Young Serif";
  src: url("assets/fonts/outfit/static/Outfit-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@mixin secondary-heading-style {
  color: var(--Brown-800);
  font-size: 3.6rem;
  margin-bottom: 1rem;
}

@mixin section-style {
  padding-bottom: 3rem;
  border-bottom: 1px solid var(--Stone-150);
  margin-bottom: 3rem;
}

.container {
}

.recipe {
  padding: 4rem;
  width: fit-content;

  &__image {
    width: 100%;
    border-radius: 1.6rem;
    margin-bottom: 1rem;
  }

  &__heading {
    font-size: 4rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }

  &__paragraph {
    width: 60rem;
    margin-bottom: 3rem;
  }
}

.preparation-time {
  background: var(--Rose-50);
  padding: 3rem 3rem;
  border-radius: 1.6rem;
  margin-bottom: 3rem;

  &__heading {
    font-size: 2rem;
    color: var(--Rose-800);
    margin-bottom: 1rem;
  }

  li {
    padding-left: 2rem;
    margin-left: 2rem;

    &:not(:last-child) {
      margin-bottom: 0.5rem;
    }

    &::marker {
      color: var(--Brown-800);
    }
  }
}

.ingredients {
  @include section-style();

  &__heading {
    @include secondary-heading-style();
  }

  li {
    padding-left: 2rem;
    margin-left: 2.4rem;

    &:not(:last-child) {
      margin-bottom: 0.5rem;
    }

    &::marker {
      color: var(--Brown-800);
    }
  }
}

.instructions {
  @include section-style();

  &__heading {
    @include secondary-heading-style();
  }

  li {
    padding-left: 2rem;
    margin-left: 2.4rem;

    &:not(:last-child) {
      margin-bottom: 1rem;
    }

    &::marker {
      color: var(--Brown-800);
      font-weight: 700;
    }
  }
}

.nutrition {
  &__heading {
    @include secondary-heading-style();
  }

  &__paragraph {
    margin-bottom: 1.5rem;
  }

  table {
    width: 100%;
    text-align: left;
  }

  td,
  th {
    padding: 1rem 0;
  }

  th {
    padding-left: 3.5rem;
    font-weight: 400;
  }

  td {
    font-weight: 700;
  }

  tr:not(:last-child) td {
    border-bottom: 1px solid var(--Stone-150);
  }

  tr:not(:last-child) th {
    border-bottom: 1px solid var(--Stone-150);
  }
}
