:root {
  font-size: 62.5%;

  --White: hsl(0, 0%, 100%);

  --Stone-100: hsl(30, 54%, 90%);
  --Stone-150: hsl(30, 18%, 87%);
  --Stone-600: hsl(30, 10%, 34%);
  --Stone-900: hsl(24, 5%, 18%);

  --Brown-800: hsl(14, 45%, 36%);

  --Rose-800: hsl(332, 51%, 32%);
  --Rose-50: hsl(330, 100%, 98%);
}

body {
  font-size: 1.6rem;
  box-sizing: border-box;
  line-height: 1.6;
  color: var(--Stone-600);
  font-family: "Outfit", sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

@mixin secondary-heading-style {
  color: var(--Brown-800);
  font-size: 2.6rem;
  font-weight: 500;
  margin-bottom: 1rem;
  font-family: "Young Serif", serif;
}

@mixin section-style {
  padding-bottom: 3rem;
  border-bottom: 1px solid var(--Stone-150);
  margin-bottom: 3rem;
}

@mixin bulleted-list-style {
  color: var(--Brown-800);
  font-size: 1.2rem;
}

@mixin list-style {
  padding-left: 2rem;
  margin-left: 2.4rem;
}

.container {
  background-color: var(--Stone-100);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12rem 0;
}

.recipe {
  padding: 4rem;
  background: var(--White);
  width: 72rem;
  border-radius: 2rem;

  &__image {
    width: 100%;
    border-radius: 1.6rem;
    margin-bottom: 2rem;
  }

  &__heading {
    font-size: 3.85rem;
    font-weight: 600;
    margin-bottom: 1rem;
    font-family: "Young Serif", serif;
    color: var(--Stone-900);
  }

  &__paragraph {
    margin-bottom: 3rem;
  }
}

.preparation-time {
  background: var(--Rose-50);
  padding: 3rem 3rem;
  border-radius: 1.6rem;
  margin-bottom: 3rem;

  &__heading {
    font-size: 2rem;
    font-weight: 600;
    color: var(--Rose-800);
    margin-bottom: 1rem;
  }

  li {
    padding-left: 2rem;
    margin-left: 2rem;

    &:not(:last-child) {
      margin-bottom: 0.5rem;
    }

    &::marker {
      @include bulleted-list-style();
    }
  }
}

.ingredients {
  @include section-style();

  &__heading {
    @include secondary-heading-style();
  }

  li {
    @include list-style();

    &:not(:last-child) {
      margin-bottom: 0.5rem;
    }

    &::marker {
      @include bulleted-list-style();
    }
  }
}

.instructions {
  @include section-style();

  &__heading {
    @include secondary-heading-style();
  }

  li {
    @include list-style();

    &:not(:last-child) {
      margin-bottom: 1rem;
    }

    &::marker {
      color: var(--Brown-800);
      font-weight: 600;
    }
  }
}

.nutrition {
  &__heading {
    @include secondary-heading-style();
  }

  &__paragraph {
    margin-bottom: 1.5rem;
  }

  table {
    width: 100%;
    text-align: left;
  }

  td,
  th {
    padding: 1rem 0;
  }

  th {
    padding-left: 3.5rem;
    font-weight: 400;
  }

  td {
    font-weight: 700;
    padding-left: 12rem;
  }

  tr:not(:last-child) td {
    border-bottom: 1px solid var(--Stone-150);
  }

  tr:not(:last-child) th {
    border-bottom: 1px solid var(--Stone-150);
  }
}
